.container-fluid {
    position: relative;
    word-wrap: break-word;
}
.cid-rGtxb2K4QX .img-col {
    padding: 0;
}
.mbr-figure img {
    width: 100%;
}
.cid-rGsqBtahAB .container {
    max-width: 1380px;
}
.align-left {
    text-align: left;
}
.cid-rGtxb2K4QX .content {
    max-width: 478px !important;
    margin: 21px !important;
    padding: 0px 4rem !important;
}
a {
    color: #ed6436;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}
.display-7 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}
.mbr-section-btn {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    font-size: 0;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary {
    background-color: #ed6436 !important;
    border-color: #ed6436 !important;
    color: #ffffff !important;
    box-shadow: 0 0 0 100px #ed6436 inset !important;
    background: transparent!important;
    font-weight: 700;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border: none!important;
}
.btn-primary :hover{
    background-color: aliceblue;
}
.btn-md {
    padding: 1rem 1.6rem;
    /* border-radius: 6px; */
}
/*  */
.cid-rGtxhyfNpz {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #ffffff;
    height: 500px;
}
.container {
    max-width: 1140px;
}
.cid-rGtxhyfNpz .row {
    justify-content: center;
}
.card {
    background-color: transparent;
    border: none;
}
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.cid-rGtxhyfNpz .card-wrapper {
    background: #f2f2f4;
    padding: 3rem 1rem;
    border-radius: 30px;
    margin: 11px;
    /* text-align: center; */
    padding-left: -47px;
    padding: 31px;
    padding-top: 60px;
    padding-left: 33px;
}
.card-wrapper {
    -webkit-flex: 1;
}
a, a:hover {
    color: rgb(237, 100, 54);
}
.cid-rGtxhyfNpz .card-img {
    margin-bottom: 3rem;
}
.card-img {
    width: auto;
    text-align: center;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    border-radius: calc(0.25rem - 1px);
}
.cid-rGtxhyfNpz .mbr-iconfont {
    color: #7aba59 !important;
    font-size: 4rem!important;
}
[class*="mbrib-"] {
    font-family: 'mobirise-icons-bold' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.card-box {
    width: 118%;
    margin-left: -15px;
}
.display-5 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
}
.cid-rGtxhyfNpz .mbr-text {
    color: #383838;
    /* text-align: center; */
    width: 185px;
}
.cid-rGtxhyfNpz p {
    font-weight: 400;
}
.cid-rGtxhyfNpz .link {
    color: #383838;
}
.cid-rGtxhyfNpz .link {
    margin: 0;
}
.cid-rGtxhyfNpz .link a {
    position: relative;
    margin: 0;
    font-weight: 600;
    transition: all 0.3s;
}

.cid-rGtxhyfNpz .link a:hover {
    color: #181818 !important;
}
.text-primary {
    color: #ed6436 !important;
}
.cid-rGtxhyfNpz .link a:after {
    position: absolute;
   
    font-family: 'mobirise-icons-bold' !important;
    right: -30px;
    top: -1px;
    color: currentColor;
}
.card-img .Gl{
   
    position: absolute;
    top: 130px;
    text-align: center;
    left: 100px;
}
/*  */

.cid-rGtxeyNA4C {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
   
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cid-rGtxeyNA4C .content {
    padding: 0 2rem;
    max-width: 550px;
    margin: auto 0;
}
.cid-rGtxeyNA4C .align-wrap {
    width: fit-content;
    display: inline-block;
}
.cid-rGtxeyNA4C .icons-wrap {
    display: flex;
}
.cid-rGtxeyNA4C .mbr-iconfont {
    color: #181818;
}
.cid-rGtxeyNA4C .mbr-iconfont {
    font-size: 1.8rem;
    padding-right: 0.8rem;
    padding-bottom: 4px;
}
svg.Aa {
    /* position: absolute; */
    top: 30px;
    margin-top: 17px;
    padding-left: 10px;
}
/*  */

.cid-rGtxY3ZaKG {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    margin-left: 130px;
    height: 500px;
}
.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.justify-content-center {
    /* -ms-flex-pack: center!important; */
    justify-content: center!important;
}
.col-lg-6 {
    /* -ms-flex: 0 0 50%; */
    flex: 0 0 50%;
    max-width: 50%;
}
.display-2 {
    font-family: 'Nunito', sans-serif;
    font-size: 3.6rem;
    line-height: 1.2;
}
.cid-rGtxY3ZaKG ul {
    padding: 0;
    margin: 0;
}
.cid-rGtxY3ZaKG .item-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.cid-rGtxY3ZaKG li {
    list-style: none;
}
/* .cid-rGtxY3ZaKG .mbr-iconfont {
    font-size: 22px!important;
    padding-right: 12px;
    transition: all 0.3s;
    font-weight: 900;
    color: #7aba59 !important;
} */
.cid-rGtxY3ZaKG h4 {
    margin: 0;
    font-size: 20px;
    font-family: auto;
    color: #706666;
}
.display-7 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}
.cid-rGtxY3ZaKG .item-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: -326px;
}
[class*="mbrib-"] {
    font-family: 'mobirise-icons-bold' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cid-rGtxY3ZaKG .col-title2 {
    color: #ed6436;
}
.cid-rGtxY3ZaKG .item-wrap:hover .Ls {
    color: rgb(24, 24, 24) !important;
}

.Ls{
    padding-right: 12px;
    font-weight: 900;
    font-size: 22px !important;
    color: rgb(122, 186, 89) !important;
    transition: all 0.3s ease 0s;
}
/*  */
.cid-rGtxjng5Vu {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cid-rGtxjng5Vu .img-col {
    padding: 0;
}
.cid-rGtxjng5Vu .content {
    padding: 0px 3rem;
    max-width: 550px;
    /* margin: 3px; */
    /* width: 400px; */
    margin-left: 695px;
}
.cid-rGtxjng5Vu .icon-wrap {
    width: fit-content;
    padding-bottom: 1.5rem;
}
.cid-rGtxjng5Vu .mbr-iconfont {
    font-size: 5rem;
    color: #ed6436 !important;
}
.cid-rGtxjng5Vu p {
    /* font-weight: 700; */
    line-height: 1.6;
    margin-top: 0px;
    /* width: 506px; */
    /* margin-left: 50px; */
}
.cid-rGtxjng5Vu H3 {
    color: #ed6436;
}
/*  */
.cid-rGtB83NNt1 {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    background-color: #ffffff;
}
.cid-rGtB83NNt1 .img-col {
    padding: 0;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.cid-rGtB83NNt1 .accordion .card {
    overflow: hidden;
}
.cid-rGtB83NNt1 .card {
    margin-bottom: 0.5rem;
    transition: all 0.3s ease 0s;
    padding: 0.8rem 0.2rem;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: lightgray !important;
    border-image: initial !important;
    border-radius: 20px !important;
    width:460px;
    height: 50px;
}
.cid-rGtB83NNt1 .card .card-header {
    margin-bottom: 0px;
    padding: 0px;
    background: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
/* a.text-black:hover, a.text-black:focus {
    color: #4d4d4d !important;
} */
.cid-rGtB83NNt1 .card:hover {
    background: #f2f2f4;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.cid-rGtB83NNt1 .panel-title {
    justify-content: space-between;
    width: 80%;
    align-items: center;
    display: flex !important;
}
.text-black {
    color: rgb(24, 24, 24) !important;
}

.cid-rGtB83NNt1 .wrap {
    display: flex;
    align-items: center;
    pointer-events: auto;
    margin-top: -25px;
}
.cid-rGtB83NNt1 .icon-left {
    padding: 12px;
    height: 20px;
    width: 20px;
    background: #7aba59;
    border-radius: 100%;
    font-weight: 900;
    margin-left: 1rem;
}
.cid-rGtB83NNt1 .card .card-header a.panel-title h4 {
    padding: 0.8rem;
    margin-bottom: 17px;
}
.sign {
    font-family: 'Moririse2' !important;
    font-size: 1rem!important;
    margin-right: 5rem;
    padding: 11px;
    height: 20px !important;
    width: 20px !important;
    border-radius: 100%;
    border: 1px solid gray;
}
.cid-rGtB83NNt1 .panel-collapse {
    margin-top: -1px;
}
.cid-rGtB83NNt1 .card .panel-body {
    color: #767676;
}
.cid-rGtB83NNt1 .panel-text {
    padding: 0 1rem;
    color: #383838;
}
.cid-rGtB83NNt1 .card .card-header a.panel-title {
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 500;
    display: block;
    margin-top: 0px;
    line-height: normal;
    text-decoration: none !important;
}
.cid-rGtB83NNt1 .sign {
    margin-right: -5rem;
    height: 40px;
    width: 40px;
    font-family: Moririse2 !important;
    font-size: 1rem !important;
    padding: 11px;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-image: initial;
    margin-top: -25px;
}
.inactive {
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}
/*  */
.cid-rGtFVjlsZO {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    background-color: #ffffff;
}
.cid-rGtFVjlsZO .acc {
    padding: 0 2rem;
    max-width: 550px 
}
.cid-rGtFVjlsZO .accordion .card {
    overflow: hidden;
}
.cid-rGtFVjlsZO .card {
    border: 1px solid lightgray!important;
    border-radius: 20px!important;
    margin-bottom: 0.5rem;
    transition: all 0.3s;
    padding: 0.8rem 0.2rem;
}
.cid-rGtFVjlsZO .card .card-header {
    padding: 0;
    background: transparent;
    margin-bottom: 0px;
    border: none;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.cid-rGtFVjlsZO .card .card-header a.panel-title {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 500;
    display: block;
    text-decoration: none !important;
    margin-top: 0px;
    line-height: normal;
    margin-top: -23px;
}
.cid-rGtFVjlsZO .panel-title {
    display: flex!important;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.cid-rGtFVjlsZO .wrap {
    display: flex;
    align-items: center;
    pointer-events: auto;
}
.cid-rGtFVjlsZO .icon-left {
    padding: 12px;
    height: 20px;
    width: 20px;
    background: #7aba59;
    border-radius: 100%;
    font-weight: 900;
    margin-left: 1rem;
    margin-top: 18px;
}
.cid-rGtFVjlsZO .card .card-header a.panel-title h4 {
    padding: 0.8rem;
    margin-bottom: -1px;
}
.cid-rGtFVjlsZO H4 {
    color: #181818;
}
.sign {
    font-family: 'Moririse2' !important;
    font-size: 1rem!important;
    margin-right: 1rem;
    padding: 11px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid gray;
    margin-top: 20px;
}
.cid-rGtFVjlsZO .card {
    border: 1px solid lightgray!important;
    border-radius: 20px!important;
    margin-bottom: 0.5rem;
    transition: all 0.3s;
    padding: 0.8rem 0.2rem;
    height: 50px;
    width: 460px;
}
.cid-rGtFVjlsZO .item-wrap:hover .Lss {
    color: rgb(81, 67, 67) !important;
}

.Lss{
    padding-right: 12px;
    font-weight: 900;
    font-size: 22px !important;
    color: rgb(122, 186, 89) !important;
    transition: all 0.3s ease 0s;
}
/* .inactive {
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
  
} */