.cid-rGtCak0QVE {
    padding-top:60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    height: 500px;
}
.card {
    background-color: transparent;
    border: none;
}
.cid-rGtCak0QVE .row1 {
    background: #ffc448;
    border-radius: 80px;
    margin-top: 6rem;
    border-top-left-radius: 0px;
    justify-content: center;
    padding: 0rem;
    height: 270px;
}
.display-2 {
    font-family: 'Nunito', sans-serif;
    font-size: 3.6rem;
    line-height: 1.2;
}
.mbr-white {
    color: #ffffff;
}
.card-boxx {
    width: 118%;
    margin-left: 15px;
    margin-top: -90px;
}
.card-titlee {
    margin-bottom: 0.75rem;
}
.container1{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cid-rGtCak0QVE .card-wrapper {
    padding: 1.5rem 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
/* .card-wrapper {
    -webkit-flex: 1;
    background-color: white;
    margin-top: -18px;
    /* text-align: center; */
    /* padding-left: 50px;
    padding-bottom: 20px;
} */ 

.cid-rGtCak0QVE .card-img {
    position: relative;
    height: 100%;
}
.card-img {
    width: auto;
    text-align: center;
}
.cid-rGtCak0QVE .card-img img {
    width: 120%;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}
.cid-rGtCak0QVE .bone-col {
    padding: 5rem 60px;
}
.m-auto {
    margin: auto !important;
}
.cid-rGtCak0QVE .link-wrap {
    position: relative;
    height: 130px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.cid-rGtCak0QVE .link-wrap .bone {
    position: absolute;
    left: 50%;
    top: 0;
    right: 50%;
    transform: translateX(-50%);
}
.cid-rGtCak0QVE .link-wrap h3 {
    z-index: 10;
    margin: 0;
    transform: rotate(-6deg);
}




/*  */
.cid-rGtxy1TdOd {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    height: 500px;
}
.cid-rGtxy1TdOd .img-col {
    padding: 0;
}
.cid-rGtxy1TdOd img {
    border-radius: 100%;
    height: 500px;
    width: 500px;
    margin: auto;
    object-fit: cover;
}
.cid-rGtxy1TdOd .mbr-form {
    max-width: 500px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.cid-rGtxy1TdOd form {
    padding: 2rem 2rem;
    background: #f2f2f4;
    border-radius: 30px;
}
.cid-rGtxy1TdOd input, .cid-rGtxy1TdOd textarea {
    padding: 2rem 3rem;
    border-radius: 30px;
}
input {
    overflow: visible;
}
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.form-row {
    display: flex;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    width: 790px;
}
.form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
    height: 100px;
}
.alert-success {
    background-color: #70c770;
}
.alert {
    color: #ffffff;
    border-radius: 0;
    border: 0;
    font-size: .875rem;
    line-height: 1.5;
    margin-bottom: 1.875rem;
    padding: 1.25rem;
    position: relative;
}
.form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
    /* padding-top: -40px; */
    margin-top: -26px;
}
.alert-danger {
    background-color: #b1a374;
}
.form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
    /* margin-left: -5px !important; */
}
.cid-rGtxy1TdOd H4 {
    color: #ed6436;
}
.display-2 {
    font-family: 'Nunito', sans-serif;
    font-size: 3.6rem;
    line-height: 1.2;
}
/*  */
.cid-rGtxy1TdOd .form-control {
    padding: 1rem 1.5rem;
    background-color: #ffffff;
    border-color: #f2f2f4;
    color: #181818;
    transition: 0.4s;
    box-shadow: none;
    outline: none;
}
.cid-rGtxy1TdOd .jq-selectbox {
    border-radius: 30px;
}
.form-control {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}
.jq-selectbox select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.cid-rGtxy1TdOd .jq-selectbox__select {
    padding: 0.2rem 1.5rem;
}
.jq-selectbox__select {
    /* padding: 1.07em 0.5em; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.jq-selectbox__select {
    text-align: left;
    padding: 20px 25px;
    min-height: 30px;
    border: 0px solid #CCC;
    border-radius: 5px;
}
.jq-selectbox__select-text {
    display: block;
    width: 100%;
}
.jq-selectbox__select-text {
    overflow: hidden;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    /* border-left: 1px solid #CCC; */
}
.jq-selectbox .jq-selectbox__trigger-arrow {
    transition: 0.4s;
    border-top-color: gray !important;
    border-bottom-color: gray !important;
 
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        border-top: 10px solid #999;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        transition: all 0.3s;
    
}
.cid-rGtxy1TdOd .jq-selectbox__dropdown {
    border-radius: 20px!important;
}
.jq-selectbox__dropdown {
    position: absolute;
    top: 100% !important;
    left: 0 !important;
    width: 100% !important;
        box-sizing: border-box;
        width: 100%;
        margin: 2px 0 0;
        padding: 0;
        border: 0px solid #CCC;
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0 2px 10px rgba(0,0,0,.2);
        font: 14px/18px Arial, sans-serif;
    }
    .cid-rGtxy1TdOd ul {
        border-radius: 20px!important;
    }
    .jq-selectbox ul {
        margin: 0;
        padding: 0;
    }
    .jq-selectbox__dropdown ul {
        position: relative;
        overflow: auto;
        overflow-x: hidden;
        list-style: none;
        -webkit-overflow-scrolling: touch;
    }
    .cid-rGtxy1TdOd .jq-selectbox li.selected {
        background-color: #ffffff;
        color: #000000;
    }
    .cid-rGtxy1TdOd .jq-selectbox li {
        padding: 1.2rem 1.5rem;
    }
    .jq-selectbox li {
        transition: all 0.3s;
        padding: 14px 25px;
        color: #565656;
        font-size: initial;
        text-align: left;
    }
    .cid-rGtxy1TdOd .jq-selectbox li, .cid-rGtxy1TdOd .jq-selectbox li {
        background-color: #ffffff;
        color: #000000;
    }
    .cid-rGtxy1TdOd .jq-selectbox li {
        padding: 1.2rem 1.5rem;
    }
    .jq-selectbox li {
        transition: all 0.3s;
        padding: 14px 25px;
        color: #565656;
        font-size: initial;
        text-align: left;
    }
    .jq-number {
        position: relative;
        vertical-align: middle;
        padding: 0 36px 0 0;
        width: 100%;
    }
    .jq-number__field {
        outline: none;
    }
    .cid-rGtxy1TdOd .form-control {
        padding: 1rem 1.5rem;
        background-color: #ffffff;
        border-color: #f2f2f4;
        color: #181818;
        transition: 0.4s;
        box-shadow: none;
        outline: none;
    }
    .cid-rGtxy1TdOd input{
        border-radius: 30px;
    }
    .jq-number__field input {
       
        text-align: left;
    }
    .cid-rGtxy1TdOd .jq-number__spin {
        background-color: #ffffff;
        border-color: #f2f2f4;
        color: #181818;
        transition: 0.4s;
        box-shadow: none;
        outline: none;
    }
    .jq-number__spin.minus {
        top: auto;
        bottom: 0;
    }
    .jq-number__spin {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 46%;
        border: 1px solid #e8e8e8;
        background-color: #f5f5f5;
        /* border-bottom-color: #B3B3B3; */
        border-radius: 4px;
        /* background: linear-gradient(#FFF, #E6E6E6); */
        /* box-shadow: 0 1px 2px rgba(0,0,0,.1); */
        /* box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1); */
        /* text-shadow: 1px 1px #FFF; */
        cursor: pointer;
    }
    .jq-number__spin.minus:after {
        /* top: 5px; */
        border-top: 5px solid #999;
        border-right: 5px solid transparent;
        border-bottom: none;
        border-left: 5px solid transparent;
    }
    .jq-number__spin:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 0;
        height: 0;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #999;
        border-left: 5px solid transparent;
    }
    .cid-rGtxy1TdOd .jq-number__spin {
        background-color: #ffffff;
        border-color: #f2f2f4;
        color: #181818;
        transition: 0.4s;
        box-shadow: none;
        outline: none;
    }
    .jq-number__spin.plus:after {
        transition: 0.4s;
        border-top-color: gray !important;
        border-bottom-color: gray !important;
    }
    .jq-number__spin:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 0;
        height: 0;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #999;
        border-left: 5px solid transparent;
    }
    .cid-rGtxy1TdOd .form-control{
        padding: 1rem 1.5rem;
        background-color: #ffffff;
        border-color: #f2f2f4;
        color: #181818;
        transition: 0.4s;
        box-shadow: none;
        outline: none;
    }
    .cid-rGtxy1TdOd .col-auto {
        width: 50%;
        margin: auto;
        margin-left: 10px;
        height: 60px;
    }
    .form-row>[class*=col-] {
        padding-right: 5px;
        padding-left: 5px;
    }
    .cid-rGtxy1TdOd .col-auto .btn {
        width: -webkit-fill-available;
    }
    .btn-primary, .btn-primary:active {
        background-color: #ed6436 !important;
        border-color: #ed6436 !important;
        color: #ffffff !important;
        height: 65px;
    }
    .mbr-form .btn {
        margin: 0.4rem 0;
    }
    /*  */
    .cid-rGtBgCg3f6 {
        padding-top: 75px;
        padding-bottom: 120px;
        background-color: #ffffff;
        
    }
    .cid-rGtBgCg3f6 .card {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }
    .cid-rGtBgCg3f6 h4 {
        margin: 0;
    }
    .cid-rGtBgCg3f6 .mbr-iconfont {
        font-size: 3.5rem;
        color: #ed6436;
        padding-right: 2rem;
        padding-top: 0.6rem;
        display: block;
    }
    [class*="mbrib-"] {
        font-family: 'mobirise-icons-bold' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .card-text:last-child {
        margin-bottom: 0px;
        margin-left: 55px;
    }
    .cid-rGtBgCg3f6 h3 {
        margin: 0;
        max-height: 60px;
    }
    .card-ico .Laaa {
        position: absolute;
        top: 280px;
        left: 55px;
    }
    /*  */
    .cid-rGtxBWjaz9 {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #ffffff;
    }
    .cid-rGtxBWjaz9 .container-fluid {
        position: relative;
    }
    .cid-rGtxBWjaz9 .google-map {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        min-height: 15rem;
    }
    .cid-rGtxBWjaz9 .google-map iframe {
        height: 700px;
        width: 98%;
    }
    .cid-rGtxBWjaz9 .row {
        justify-content: flex-end;
    }
    /* .cid-rGtxBWjaz9 .card-col {
        max-width: 450px;
        padding: 5rem 2rem;
    } */
    .cid-rGtxBWjaz9 p {
        font-weight: 400;
    }
    .cid-rGtxBWjaz9 .item {
        flex-direction: row;
        display: flex;
        align-items: center;
        margin-bottom: 0.6rem;
    }
    .cid-rGtxBWjaz9 .card-img {
        color: #ed6436;
    }
    .carde {
        /* background-color: white; */
        border: none;
        position: absolute;
        top: -190px;
        width: 370px;
        margin-right: 120px;
        height: 215px;
    }
    .cid-rGtxBWjaz9 .mbr-iconfont {
        color: #ed6436 !important;
        font-size: 1.4rem!important;
        padding-right: 1rem;
        display: block;
    }
    .cid-rGtxBWjaz9 .item h4 {
        margin: 0;
    }
    .cid-rGtxBWjaz9 .card-title {
        color: #ed6436;
    }
    .cid-rGtxBWjaz9 .mbr-iconfont {
        color: #ed6436 !important;
        font-size: 1.4rem!important;
        padding-right: 1rem;
        display: block;
    }
    /*  */
  